$black: #232323;
// $background: #400169;
// $background: url(../assets/img/bg.jpg);
$red: #e74c3c;
$blue: #3498db;
$purple: #8e44ad;

$gray-line: #f6f6f6;
$container-width: 90%;

$duration: 0.15s;




